<h1>Voice Board</h1>

<script type="text/javascript">
  $("body").append(
   $("<div/>")
    .css("width","210px")
    .callme({
      apiKey: "C17D167F-09C6-4E4C-A3DD-2025D48BA243",
      numberToDial: "app:9996135896",
      buttonTextReady: "Listen Live!",
      slideOpen:true
    })
  )
 </script>

<ul class='playlist'> 
<% count = 0%>	
<% @conferences.each do |conference| %>
	<li><a href="http://voicememo-uploads.s3.amazonaws.com/<%= conference.filename %>" rel="<%= @photos[count]%>">
		<% if conference.inprogress %>
			LIVE
		<% else %>
			<%= conference.updated_at%>
		<% end %>
	</a></li> 
	<% count += 1 %>
<% end %>
</ul>


